h2{text-align:center;}
input{margin-bottom:5px;margin:auto;position:relative}
.str{width:400px}
#container{width:50%; margin:auto;}
.str{border-radius: 12px;border: 1px solid #00ccff;padding: 4px}
a{color:#7F7F7F; margin-top:10px;text-decoration:none;}
